{@ extends layouts/main @}
<!--  -->
{@ block main @}

{@ includes/header @}

Hello {{ word }} From @{{framework}} !
<p>{{ 2 + 2 === 4 && 3 - 2 === 2 ? "coucou" : "hello" }}</p>
<p>{{ password ?? "no password specified" }}</p>

<!-- interpolation -->
<p>{{ `the name is ${name}` }}</p>
<!-- short ternary -->
<p>{{ name ?: "no name specified" }}</p>
<p>{{ name ?: "Rob" }}</p>

<form>
  <input type="text" name="name" placeholder="Name" value="{{name}}" />
  <input type="text" name="email" placeholder="Email" value="{{email}}" />
  <input type="submit" value="Submit" />
</form>
{@ endblock @} 

{@ block stylesheets @}
<link rel="stylesheet" href="style.css">
{@ endblock @}