<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Hello {{ word }} From @Sonata !
    <p>{{ 2 + 2 === 4 && 3 - 2 === 2 ? 'coucou' : 'hello' }}</p>
    <p>{{ password ?? "no password specified" }}</p>

    <!-- interpolation -->
    <p>{{ `the name is ${name}` }}</p>
    <!-- short ternary -->
    <p>{{ name ?: "Rob" }}</p>
    <!-- interpolation + ternary/short ternary -->
    <p>{{ `Hello ${name ?: 'James'}` }}</p>
    <!-- multiple interpolation -->
    <p>{{ `Hello ${!name ? "Robert" : "James"} im ${ 2 + 2 === 4 ? '18' : '22'}` }}</p>

    {% if name === "Mark" || word === "Worldd": %}
    <p>{{ name }} (if)</p>
    {% elif name === "John": %}
    <p>{{ name }} ! (john elif)</p>
    <ul>
      <li>hello</li>
      <li>world</li>
      <li>blalabal</li>
    </ul>
    {% else if name === "James" : %}
    <p>{{ name }} ! (james else if)</p>
    {% else: %}
    <p>{{ name }} ! (else)</p>
    {% endif %}
    <!-- * -->
    {% for i in range(10): %}
    <p>hello</p>
    {% endfor %}

    <form>
      <input type="text" name="name" placeholder="Name" value="{{name}}" />
      <input type="text" name="email" placeholder="Email" value="{{email}}" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
